<footer class="footer">
	<div class="footer__left">
		<div class="footer__logo">
			<img src="assets/img/logo-black.svg" alt="">
			<p>Jūsu ceļvedis zemūdens pasaulē – <br> apmācība, piedzīvojumi un kopiena <br> vienuviet.</p>
		</div>
		<p>Copyright © 2025 •Geo sidemount diving</p>
	</div>
	<div class="footer__right">
		<div class="footer__right-top">
			<img src="assets/img/finanse.png" alt="">
			<p>SIA "GSMD" ir noslēdzis 12.04.2024 līgumu Nr.17.2-5-L-2024/207 ar Latvijas Investīciju un attīstības aģentūru par atbalsta saņemšanu pasākuma “Atbalsts procesu digitalizācijai” ietvaros, ko līdzfinansē Atveseļošanas un noturības mehānisms (ANM). <br><br> Pēc digitālās transformācijas ieviesta jauna uzņēmuma tīmekļa vietne.</p>
		</div>
		<div class="footer__right-bottom">
			<img src="assets/img/altum_lm_fonds.png" alt="">
			<p>Sabiedrība ar ierobežotu atbildību "GSMD" ir noslēdzis 12.12.2024 līgumu Nr. 284883/SU2 0021 ar AS “Attīstības finanšu institūcija Altum” par atbalsta saņemšanu pasākuma “Atbalsts sociālajai uzņēmējdarbībai” ietvaros. Biznesa projekta mērķis ir gūt ieņēmumus, vienlaikus integrējot sabiedrībā bijušos ieslodzītos un nodrošinot viņiem jaunas finansiālas un garīgas prasmes; sekmējot personu pelnītspēju un stabilitāti, tādējādi veicinot valsts ekonomisko izaugsmi un ilgtspējību.</p>
		</div>
	</div>
</footer>