.hero
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 40px
	padding-left: 40px
	align-items: center

	h1
		font-size: 64px
		line-height: 100% 
		+med

	p
		+med
		font-size: 24px
		margin-top: 40px

	img
		width: 100%