//=============================================
// Hero - Section
//=============================================
.hero
	display: grid
	grid-template-columns: 1fr 1fr
	grid-gap: 40px
	padding-left: 40px
	align-items: center

	&__img
		overflow: hidden

	h1
		font-size: 64px
		line-height: 100% 
		+med

	p
		+med
		font-size: 24px
		margin-top: 40px

	img
		width: 100%

//=============================================
// About - Section
//=============================================
.about
	padding: 60px 40px 100px
	display: grid
	grid-template-columns: 1fr 2.5fr
	grid-gap: 240px

	h2
		font-size: 48px
		+med
		text-transform: uppercase
		text-align: center
		line-height: 100%

	&__content
		display: grid
		grid-template-columns: 1fr 1fr
		grid-template-rows: auto 1fr
        
	&__top
		grid-column: 1 / -1
		margin-bottom: 40px

	&__middle
		margin: 120px 0 100px
		grid-column: 2

	&__bottom
		grid-column: 1 / -1
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 60px 20px

	&__card
		h3
			font-size: 24px
			+semi
		p
			font-size: 16px
			line-height: 130%

	&__card-header
		display: flex
		align-items: center
		grid-gap: 16px
		margin-bottom: 40px


//=============================================
// Certificates - Section
//=============================================
.certs
	padding: 100px 40px

	&__content
		margin-top: 60px
		display: grid
		grid-template-columns: 1fr 1fr
		grid-gap: 20px

		p
			font-size: 20px
			line-height: 130%

	&__col
		display: flex
		flex-direction: column
		grid-gap: 20px

	&__gallery
		margin-top: 140px
		background: $primary
		padding: 20px
		display: flex
		align-items: center
		justify-content: center
		position: relative
		height: 400px
		overflow: hidden

		h4
			color: $w
			text-transform: uppercase
			+extra
			font-size: 18px
			line-height: 125%

		img
			position: absolute
			top: 20px 
			left: 20px
			width: 180px

		&-icon
			position: absolute
			top: 20px
			right: 20px
			display: block

	.hidden
		display: none

//=============================================
// Promo - Section
//=============================================
.promo
	min-height: 100vh
	background-size: cover
	background-position: center
	padding: 100px 40px 40px

	&__content
		display: grid
		grid-template-columns: repeat(12, 1fr)
		grid-template-rows: auto
		grid-gap: 40px

	&__title
		grid-column: 7 / -1

	&__text
		grid-column: 9 / -1

	h2
		+semi
		font-size: 48px
		line-height: 100%
		text-transform: uppercase

	p
		font-size: 20px
		line-height: 130%


//=============================================
// Services - Section
//=============================================
.services
	padding: 100px 40px

	&__list
		margin-top: 100px
		display: grid
		grid-gap: 20px
		grid-template-columns: repeat(2, 1fr)

.service__card
	display: grid
	grid-template-columns: 1fr 3fr

.service__img
	overflow: hidden
	
	img
		width: 100%
		height: 100%
		object-fit: cover

.service__header
	h4
		font-size: 24px
		font-weight: 400
	p
		font-size: 16px
		line-height: 120%
		margin-top: 20px

.service__content
	border: 1px solid $b
	border-bottom: 0 solid #000

	.btn-primary
		width: 100%
		height: 74px
		line-height: 74px

.service__top
	display: flex
	flex-direction: column
	justify-content: space-between
	height: calc(100% - 74px)
	padding: 20px

.service__footer

	h5
		font-size: 24px
		+bold

	& > p
		font-size: 12px
		line-height: 120%
		color: rgba($b,.7)
		margin: 20px 0

	&-list
		display: flex

	&-item
		span
			color: rgba($b,.7)
			font-size: 14px
			+bold
			line-height: 120%
		p
			color: rgba($b,.7)
			font-size: 10px
			line-height: 120%
			margin-top: 5px


//=============================================
// Works - Section
//=============================================
.works
	padding: 100px 40px

	&__list
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 20px
		margin-top: 100px

	&__item
		padding: 75px 70px 40px 70px
		background: #171717

		img
			margin-bottom: 125px

		h3
			+med
			font-size: 30px
			line-height: 130%

		p
			line-height: 130%
			font-size: 20px
			margin-top: 35px

	&__footer
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 50px
		padding: 40px 40px 40px 70px
		background: $primary

		p
			font-size: 24px
			+med

		a
			padding: 20px
			display: block
			background: $w
			color: $b
			text-transform: uppercase
			font-size: 18px
			+semi


//=============================================
// Contacts - Section
//=============================================
.contacts
	padding: 100px 40px
	.section__header
		grid-gap: 20px

	&__cols
		display: grid
		grid-template-columns: 1fr 1fr
		grid-gap: 20px

	&__info
		display: flex
		flex-direction: column
		grid-gap: 60px

	p
		font-size: 20px
		+reg
		line-height: 130%
		margin: 36px 0 60px
		display: block
	h4
		font-size: 24px
		+extra
		line-height: 125%
		margin-bottom: 40px !important

	a,address
		font-size: 24px
		+semi
		display: block
		max-width: fit-content
		color: $b
		font-style: normal

	a
		margin-bottom: 5px

	form
		display: flex
		flex-direction: column

	input
		border-bottom: 1px solid #D2D2D2
		padding: 0 10px 20px 0
		font-size: 20px
		margin-top: 40px
		+med
		color: #696969
		&::placeholder
			font-size: 20px
			+med
			color: #696969
		&:first-child
			margin-top: 0

	label
		font-size: 14px
		line-height: 125%
		color: rgba($b, .6)

	button
		padding: 25px 60px
		max-width: fit-content

	.form-label
		display: flex
		align-items: center
		grid-gap: 10px
		margin: 20px 0 40px