.header
	position: relative
	z-index: 10

	&__inner
		display: flex
		align-items: center
		justify-content: space-between

	&__right
		display: flex
		align-items: center

	&__logo
		position: absolute
		top: 0
		left: 40px

	&__action
		display: flex
		align-items: center
		margin: 0 36px 0 120px
		grid-gap: 25px

	&__call
		color: $b
		font-size: 18px
		+med
		transition: color .25s ease
		display: block
		&:hover
			color: $primary

	&__lang a
		color: $b
		font-size: 18px
		+med

	&__cta
		text-transform: uppercase
		color: $w
		background: $primary
		font-size: 18px
		+extra
		padding: 24px 66px
		transition: background .25s ease
		&:hover
			background: #3ca5ef


// ===========================
// Translate Language
// ===========================
.qtranxs_widget_end
	display: none

.lang-dropdown
	position: relative
	&:hover
		.language-chooser
			transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.1s
			transform: translateY(0)
			visibility: visible
	& > a
		display: flex
		align-items: center
		grid-gap: 4px

	// svg
	// 	position: relative
	// 	top: 3px

.language-chooser
	position: absolute
	top: 100%
	left: 0
	z-index: 8888
	background: $primary
	padding: 6px 14px
	+br(8px)
	// box-shadow: 0px 0px 0px 0px rgba(58, 61, 69, 0.15), 0px 1px 3px 0px rgba(58, 61, 69, 0.15), 0px 6px 6px 0px rgba(58, 61, 69, 0.13), 0px 13px 8px 0px rgba(58, 61, 69, 0.08), 0px 24px 10px 0px rgba(58, 61, 69, 0.02), 0px 37px 10px 0px rgba(58, 61, 69, 0.00)
	visibility: hidden
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.1s
	transform: translateY(10px)
	li
		cursor: pointer
		margin-bottom: 5px
		span
			text-transform: uppercase
			+reg
	a
		&:hover
			color: red

.qtranxs_flag_and_text
	// padding-left: 25px
	background-position: 0px 4px
	span
		color: $w